.App {
  text-align: center;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background: #FFEEEE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #DDEFBB, white);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #DDEFBB, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.main-title {
  font-size: 38px;
  margin-top: -20px;
  margin-bottom: 25px;
}
.transparent {
  background-color: transparent !important;
}

.short-padding-top {
  padding-top: 5px;
}
.short-padding-bottom {
  padding-top: 5px;
}

.text-center {
  text-align: center !important;
}

.right-align {
  text-align: right;
}

.loginscreen {
  padding: 25px;
  margin: 25px;
}

.login-form {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.job-container{
  height: 60rem;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.previous-jobs {
  height: 24.2rem;
  width: 33rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255,255,255, 0.6);
}

.upcoming-jobs {
  height: 49.6rem;
  width: 33rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255,255,255, 0.6);
}

.additional-info {
  padding-left: 25px;
  text-align: left;
  margin: 5px;
  overflow-y: hidden;
  height: 25rem;
  width: 33vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255,255,255, 0.6);
}

.ticket {
  border-color: blueviolet; 
  border-style: solid;
  border-width: 2px;
  margin: 5px;
}

.map {
  margin: 5px; 
  height: 25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.map-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.map-input {
  margin-top: -10px;
  position: relative;
  height: 24.9rem;
  background-color: rgb(255,255,255, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.inner-map-input{
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  margin: -70px 0 0 -120px;
}

.job-details {
  font-size: 17px;
  text-align: left;
  margin: 5px;
  margin-top: 1.7rem;
  overflow-y: hidden;
  height: 24.3rem;
  width: 33vw;
  line-height: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255,255,255, 0.6);
}
.job-details li {
  padding-bottom: 10px;
}


.job-detail-button{
  outline: none;
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  height: 30px;
  margin-left: 15px;
  position: relative;
  width: 30px;			
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.job-detail-button:after{
  color:#e9e6e4;
  content: "";
  font-size: 15px;
  height: 15px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  width: 15px;
}
.jobs-list-right {
  padding-right: 5rem !important;
}

.jobs-list-left {
  padding-left: 2rem !important;
}

.tick:after{
  content: "+";
  left:23px;
  top:16px;
}

.job-detail-button:hover{
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color:#0088cc;
}

.tick:hover:after{
  color:#83d244;
  text-shadow:0px 0px 6px #83d244;
}

.job-detail-button:active{
  background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
  background-image: linear-gradient(top, #efedec, #f7f4f4);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.job-detail-button:active:after{
  color:#dbd2d2;
  text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

.selected-job {
  margin: 5px; 
  width: 33vw;
  margin-right: 4rem;
  margin-left: 3rem;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.padding-bottom{
  padding-bottom: 5px;
}

.profile-container {

  margin: 5px; 
}
.profile {

  margin: 5px; 
}
.profile-job-list {
  height: 50rem;
  overflow: scroll;
}

.column-containers {
  padding-top: 15px;
  /* height: 50rem; */
  /* background-color: rgba(0, 243, 231, 0); */
}
.job-detail-title {
  font-size: 22px;
  padding-bottom: 3rem;
  padding-top:1rem;
}
.ticket-container {
  width: 120rem;
  margin: auto;
  padding-top: 4rem;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 20px 25px 65px 25px; 
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -5px 1px 1px rgba(204,198,197,.5);

}
.ticket-container h1 {
  color: black;
  padding-bottom: 4rem;
}

.menu-dropdown {
  padding-top: 4px;
  
}
.menu-dropdown-items {
  background-color: rgb(238, 247, 221) !important;
  border-color: #DDEFBB !important;
}

.ui.secondary.menu {
  font-size:  16px;
  background: #FFEEEE;  /* fallback for old browsers */
  background: -webkit-linear-gradfient(to top, white, #DDEFBB) !important;
  background: linear-gradient(to top, white, #DDEFBB) !important; 
}


