.App {
  text-align: center;
  border-color: burlywood; 
  border-style: solid;
  border-width: 2px;
  margin: 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.text-center {
  text-align: center;
}

.job-container{
  border-color: black; 
  border-style: solid;
  border-width: 2px;
  margin: 5px;
  display: flex;
  justify-content: center;
}

.navbar {
}

.previous-jobs {
  border-color: blue; 
  border-style: solid;
  border-width: 2px;
  margin: 5px;
}

.upcoming-jobs {
  border-color: orange; 
  border-style: solid;
  border-width: 2px;
  margin: 5px;  
}

.map {
  border-color: green; 
  border-style: solid;
  border-width: 2px;
  margin: 5px; 
}

.job-details {
  border-color: yellowgreen; 
  border-style: solid;
  border-width: 2px;
  text-align: left;
  margin: 5px;
  min-width: 33vw;
  
}

.selected-job {
  border-color: gold; 
  border-style: solid;
  border-width: 2px;
  margin: 5px; 
  min-width: 33vw;
}


.center-content {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.padding-bottom{
  padding-bottom: 5px;
}